/* p {
	background-color: green;
	box-shadow: red 10px 10px 10px;
} */

#text {
	text-shadow: red 10px 10px 2px;
}

.colored {
	background-color: #20e620;
	width: 100px;
	height: 100px;

	border-radius: 50%;
}
