#color {
	background-color: rgb(56, 252, 56);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: background-color 5s, transform 5s;
}
#color:hover {
	background-color: red;
	transform: scale(1.3);
}
